# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store

# big files
*.zip

#lung cancer project
data_science/lung_cancer_analysis/data/

#plague project
data_science/plague_analysis/data/