# Virtuelle Umgebung
.venv/
venv/
env/

# Dataset (zu groß für Git)
data/raw/
data/processed/
*.zip

# Jupyter Checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python Cache
__pycache__/
*.py[cod]
*.egg-info/

# Kaggle API Token (niemals einchecken!)
kaggle.json

# VS Code
.vscode/

# Python ohne Notebook
analysis/
